#header_table,
#footer_table {
    border: none !important;
    width: 100%;
}

th {
    width: 33%;
}

.header {
    padding: 4% 4%;
    background: #172154;
    color: white;
}

.header_desktop {
    padding: 1.5% 4%;
    background: #172154;
    color: white;
}

.cancel_table_field {
    background: red;
    padding: 7% 5%;
}

.cancel_table_field_desktop {
    background: red;
    padding: 1.5% 4%;
}

.next_step_table_field {
    background: green;
    padding: 7% 5%;
}

.table_spinner {
    color: white;
}

.next_step_table_field_desktop {
    background: green;
    padding: 1.5% 4%;
}

.labels_header_table {
    text-align: center;
    font-size: 2em;
    color: white;
}

.labels_header_table_desktop {
    text-align: center;
    color: white;
}

.labels_footer_table {
    text-align: center;
    font-size: 3em;
    color: white;
}

.labels_footer_table_desktop {
    text-align: center;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 40px;
}

body {
    font: 16px Arial;
    width: 100%;
}

#main_section {
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}

.large_text {
    text-align: center;
    font-size: 40px;
}

img {
    position: relative;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

btn.etagen_btn {
    width: 85%;
    display: block;
    margin: auto;
}


/*@source autocomplete function: https://www.w3schools.com/howto/howto_js_autocomplete.asp */

.autocomplete {
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}


/*when hovering an item:*/

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}


/*when navigating through the items using the arrow keys:*/

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

#info {
    color: green;
    font-size: 4em;
    text-align: center;
}