#header_table,
#footer_table {
    border: none !important;
    width: 100%;
}

th {
    width: 33%;
}

.header {
    padding: 4% 4%;
    background: #172154;
    color: white;
}

.header_desktop {
    padding: 1.5% 4%;
    background: #172154;
    color: white;
}

.cancel_table_field {
    background: red;
    padding: 5% 3%;
}

.cancel_table_field_desktop {
    background: red;
    padding: 1.5% 4%;
}

.next_step_table_field {
    background: green;
    padding: 5% 3%;
}

.table_spinner {
    color: white;
}

.next_step_table_field_desktop {
    background: green;
    padding: 1.5% 4%;
}

.labels_header_table {
    text-align: center;
    font-size: 2em;
    color: white;
}

.labels_header_table_desktop {
    text-align: center;
    color: white;
}

.labels_footer_table {
    text-align: center;
    font-size: 3em;
    color: white;
}

.labels_footer_table_desktop {
    text-align: center;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 40px;
}

body {
    font: 16px Arial;
    width: 100%;
}

#main_section {
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}

.large_text {
    text-align: center;
    font-size: 40px;
}

.super_large_text {
    text-align: center;
    font-size: 60px;
}

img {
    position: relative;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

btn.etagen_btn {
    width: 85%;
    display: block;
    margin: auto;
}


/*@source autocomplete function: https://www.w3schools.com/howto/howto_js_autocomplete.asp */

.autocomplete {
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}


/*when hovering an item:*/

.autocomplete-items div:hover {
    background-color: #e9e9e9;
}


/*when navigating through the items using the arrow keys:*/

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

#info {
    color: green;
    font-size: 4em;
    text-align: center;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid darkgreen;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu table {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu table:hover {
    background-color: #777;
}

.rcorners {
    margin: 5%;
    border-radius: 25px;
    background: darkgreen;
    color: white;
    font-size: 3em;
    padding: 20px;
    width: 90%;
    height: 15%;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_room_select {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 25px;
    background: darkgreen;
    color: white;
    font-size: 2.5em;
    padding: 20px;
    width: 60%;
    height: 8%;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon_option_room {
    height: 60%;
    margin-right: 5%;
}

.text_of_option {
    width: 70%;
}